.thumbContainer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.thumbContainer li{
    list-style-type: none;
    margin: 25px;
    
}
.thumbContainer{
    background: var(--text-background);
    border-radius: 20px;
    max-width: var(--body-width);
    margin: auto;
    
    

}
@media only screen and (max-width: 1280px){
    .thumbContainer{
        margin-left: 20px;
        margin-right: 20px;
    }
}