.crib_contents{
    display: flex;
    flex-direction: row;
    max-width: var(--body-width);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.left, .right {
    flex: 1;
}
.left {
    position: relative;
    text-align: left;
}
.left h1{
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    
}
.left p{
    font-size: var(--text-size);
    margin: 0;
}
.host{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    /* border: 1px solid black; */
}
.hostName{
   
    width: 60px;
}
.hostPicture img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.right{
    position: relative;
    top: -20px;
    
}
.rating{
    position: absolute;
    right: 0;
    
}
@media only screen and (max-width: 1280px){
    .crib_contents{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 768px){
    .crib_contents{
        flex-direction: column;
        margin-bottom: -10px;
    }
    .right{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        
    }
    .rating {
        left: 0;
    }

}
@media only screen and (max-width: 440px){
    .crib_contents{
        margin-bottom: -20px;
        /* border: 1px solid black; */
    }
    .left h1{
        font-size: 18px;
    }
    .left p{
        font-size: 14px;
    }
    .hostPicture img {
        width: 32px;
        height: 32px;
    }
    .hostName{
        margin-right: -40px;
        font-size: 12px;
        width: 40%;
        /* border: 1px solid black; */
    }
}