.crib_contents{
    display: flex;
    flex-direction: row;
    width: var(--body-width);
    margin: auto;
}
.left, .right {
    border: 1px black solid;
    width: 50%;
}
.left {
    position: relative;
    border: 1px black solid;
    text-align: left;
}
.host{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.hostPicture img{
    border-radius: 50%;
    
}
.rating{
    justify-content: end;
}
.tagContainer ul {
    display: flex;
    flex-direction: row;
}
.tag{
    background: var(--primary-color);
    border-radius: 10px;
    color: white;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}