.drawer{
    width: 100%;
    position: relative;
    margin: auto;
    font-size: var(--text-size);
    margin-top: 0;
}
.drawer--header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 52px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    font-size: var(--text-size);
}
.drawer--header img{
    position: absolute;
    cursor: pointer;
    bottom: 18px;
    right: 2.5%;
}
.drawer p, .drawer ul {
     
    position: relative;
    top: -25px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: var(--text-size);
    text-align: left;
    background: var(--text-background);
    border-radius: 0 0 10px 10px;
    z-index: -3;
}

@media only screen and (max-width: 440px){
    .drawer--header{
        height: 30px;
        font-size: 13px;
    }
    .drawer p, .drawer ul {
        font-size: 12px;
    }
    .drawer--header img {
        width: 12px;
        height: auto;
        bottom: 11px;
        
    }
}