body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Monserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
li{
  list-style-type: none;
}
p{
  font-size: 24px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* utilisation de variables css: couleur */
:root {
  --primary-color: #FF6060;
  --text-background: #E5E5E5;
  --text-size: 18px;
  --mobile-text-size: 12px;
  --body-width: 1240px;
}

/*Comment changer la couleur des liens?*/
:any-link {
  --color: #FF6060;
}

