/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../../assets/Montserrat/static/Montserrat-Regular.ttf') format('ttf'), 
       
}; */

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat&display=swap');


body {
  margin: auto;
  font-family: 'Monserrat', sans-serif; 
  
 
}
/* variables css: couleur taille de texte */
:root {
  --primary-color: #FF6060;
  --text-background: #E5E5E5;
  --text-size: 18px;
  --mobile-text-size: 12px;
  --body-width: 1240px;
}
li{
  list-style-type: none;
  color: var(--primary-color);
}
p{
  font-size: 24px;
  color: var(--primary-color);
}

/*Comment changer la couleur des liens?*/
:any-link {
  --color: #FF6060;
}

