header, nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav{
    width: 10%;
}
header .link {
    color: var(--primary-color);
    text-decoration: none;
    
}
header .link:hover{
    text-decoration: underline;
}
header{
    padding-bottom: 3%;
    width: var(--body-width);
    margin: auto;
    margin-top: 20px;
    
}