.carousel{
    position: relative;
    height: 415px;
    max-width: var(--body-width);
    margin: auto;
    overflow: hidden;
    
    border-radius: 25px;
    border: 1px black solid;
    
}
.arrows{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 99%;
    
    /* left: 20%; */
    top: 40%;
    border: 1px black solid;
}
.vectorLeft, .vectorRight {
    cursor: pointer;
}
.carousel p {
    position: absolute;
    color: white;
    left: 49%;
    bottom: -140px;
    /* border: 1px black solid; */
    
}
.active {
    height: 100%;
    width: 100%;
    /* margin-top: -100px; */
}
@media only screen and (max-width: 1280px){
    .carousel{
        margin-left: 20px;
        margin-right: 20px;
    }
}