.thumb{
    width: 340px;
    height: 340px;
    /*border: 1px solid black;*/
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    
    background: var(--primary-color);
    background: linear-gradient(0deg, rgba(92,61,61,1) 0%, rgba(255,96,96,1) 29%);
    
}
.thumb h3{
    text-decoration: none;
    text-align: left;
    color: white;
    font-size: medium;
    
}
.thumb img{
    width: 100%;
    height: 270px;
    border-radius: 8px;
    object-fit: cover;
}