.banner{
    position: relative;
    background: url('../../assets/images/background.png') center/cover;
    width: auto;
    height: 200px;
    text-align: center;
}

.banner h2{
    position: absolute;
    margin-top: 10%;
    color: black;
}