.banner {
    position: relative;
    margin: auto;
    width: var(--body-width);
    height: 223px;
    text-align: center;
    
}
.banner img{
    border-radius: 20px;
    filter: brightness(70%);
}
.banner h2{
    position: absolute;
    top: 23%;
    color: white;
    font-size: 40px;
    left: 28%;
    
}